In [67]:
import pandas as pd
import numpy as np

In [68]:
data_by_country = pd.read_csv(filepath_or_buffer="data/dataset - data by country.csv")
data_by_country['Users per month'] = data_by_country['Users per month'].astype(str).str.replace(',', '').astype(int)
data_by_country

                   Country  Users per month  In app Transactions
0                  Albania            28785                 1912
1                  Armenia            29569                  736
2                  Austria            88580                 2702
3               Azerbaijan           101279                 2238
4                  Belarus            94771                 3838
5                  Belgium           114497                 4500
6   Bosnia and Herzegovina            35114                 1457
7                 Bulgaria            70000                 2352
8                  Croatia            41055                 1490
9                   Cyprus             8642                  696
10          Czech Republic           106278                 4751
11                 Denmark            58372                 2837
12                 Estonia            13290                  642
13                 Finland            55220                 2049
14                  France           670760                31660
15                 Georgia            37296                 1324
16                 Germany           831229                37239
17                  Greece           107682                 2821
18                 Hungary            97710                 2765
19                 Iceland             3556                   84
20                 Ireland            49215                 1452
21                   Italy           603906                25002
22              Kazakhstan           183569                 6498
23                  Kosovo            17985                  432
24                  Latvia            19213                  302
25               Lithuania            27941                 1051
26              Luxembourg             6261                  586
27                   Malta             5146                  118
28                 Moldova            26817                  904
29              Montenegro             6224                  195
30             Netherlands           174176                 6863
31         North Macedonia            20753                  880
32                  Norway            53239                 1102
33                  Poland           384336                18525
34                Portugal           102766                 4111
35                 Romania           195236                 8024
36                  Russia          1468771                54051
37                  Serbia            69638                 1643
38                Slovakia            54451                 1830
39                Slovenia            20701                  869
40                   Spain           467330                21030
41                  Sweden           103196                 2353
42             Switzerland            85269                 5939
43                  Turkey           836144                38713
44                 Ukraine           415884                10189
45          United Kingdom           667968                14762

In [69]:
data_by_country['Transactions per User'] = data_by_country['In app Transactions'] / data_by_country['Users per month']
data_by_country.sort_values(by = ['Users per month'], ascending = False).reset_index()

,index,Country,Users per month,In app Transactions,Transactions per User
0,36,Russia,1468771,54051,0.036800
1,43,Turkey,836144,38713,0.046299
2,16,Germany,831229,37239,0.044800
3,14,France,670760,31660,0.047200
4,45,United Kingdom,667968,14762,0.022100
5,21,Italy,603906,25002,0.041400
6,40,Spain,467330,21030,0.045000
7,44,Ukraine,415884,10189,0.024500
8,33,Poland,384336,18525,0.048200
9,35,Romania,195236,8024,0.041099
10,22,Kazakhstan,183569,6498,0.035398
11,30,Netherlands,174176,6863,0.039403
12,5,Belgium,114497,4500,0.039302
13,17,Greece,107682,2821,0.026198
14,10,Czech Republic,106278,4751,0.044704
15,41,Sweden,103196,2353,0.022801
16,34,Portugal,102766,4111,0.040004
17,3,Azerbaijan,101279,2238,0.022097
18,18,Hungary,97710,2765,0.028298
19,4,Belarus,94771,3838,0.040498
20,2,Austria,88580,2702,0.030503
21,42,Switzerland,85269,5939,0.069650
22,7,Bulgaria,70000,2352,0.033600
23,37,Serbia,69638,1643,0.023593
24,11,Denmark,58372,2837,0.048602
25,13,Finland,55220,2049,0.037106
26,38,Slovakia,54451,1830,0.033608
27,32,Norway,53239,1102,0.020699
28,20,Ireland,49215,1452,0.029503
29,8,Croatia,41055,1490,0.036293
30,15,Georgia,37296,1324,0.035500
31,6,Bosnia and Herzegovina,35114,1457,0.041493
32,1,Armenia,29569,736,0.024891
33,0,Albania,28785,1912,0.066423
34,25,Lithuania,27941,1051,0.037615
35,28,Moldova,26817,904,0.033710
36,31,North Macedonia,20753,880,0.042404
37,39,Slovenia,20701,869,0.041979
38,24,Latvia,19213,302,0.015719
39,23,Kosovo,17985,432,0.024020
40,12,Estonia,13290,642,0.048307
41,9,Cyprus,8642,696,0.080537
42,26,Luxembourg,6261,586,0.093595
43,29,Montenegro,6224,195,0.031330
44,27,Malta,5146,118,0.022930
45,19,Iceland,3556,84,0.023622

In [70]:
data_by_country.describe()

       Users per month  In app Transactions  Transactions per User
count     4.600000e+01            46.000000              46.000000
mean      1.882570e+05          7293.847826               0.038333
std       2.964267e+05         11957.070513               0.015354
min       3.556000e+03            84.000000               0.015719
25%       2.815200e+04           940.750000               0.026723
50%       6.981900e+04          2295.000000               0.036953
75%       1.592562e+05          6358.250000               0.044129
max       1.468771e+06         54051.000000               0.093595

In [71]:
# Define conditions and corresponding values
conditions = [
    data_by_country['Users per month'] > 1.592562e+05,
    data_by_country['Users per month'] > 6.981900e+04,
    data_by_country['Users per month'] > 2.815200e+04
]
values = [1, 2, 3]

# Apply conditions using np.select()
data_by_country['Users Tier'] = np.select(conditions, values, default=4)

# Define conditions and corresponding values
conditions = [
    data_by_country['Transactions per User'] > 0.044129,
    data_by_country['Transactions per User'] > 0.036953,
    data_by_country['Transactions per User'] > 0.026723
]
values = [1, 2, 3]

# Apply conditions using np.select()
data_by_country['Transactions Tier'] = np.select(conditions, values, default=4)

In [72]:
data_by_country.loc[
    (data_by_country['Transactions Tier'].isin([2, 3])) & (data_by_country['Users Tier'] == 2)
    ].sort_values(by = ['Users per month'], ascending = False)

,Country,Users per month,In app Transactions,Transactions per User,Users Tier,Transactions Tier
5,Belgium,114497,4500,0.039302,2,2
34,Portugal,102766,4111,0.040004,2,2
18,Hungary,97710,2765,0.028298,2,3
4,Belarus,94771,3838,0.040498,2,2
2,Austria,88580,2702,0.030503,2,3
7,Bulgaria,70000,2352,0.033600,2,3